<div class="jumbotron">
  <h2> Lista de Cursos </h2>
  <div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
              <tr>
                <td class="active">Id</td>
                <td class="active">Nome</td>
                <td class="active">Duração</td>
              </tr>

              <tr>
                  <td>id</td>
                  <td>nome</td>
                  <td>duração</td>
                </tr>

         </table>
    </div>
  </div>
 
</div>

